<h1>Login</h1>

<form method="POST" action="<%= config.suburl %>/user/login">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">

	<button>Submit</button>
</form>